#navbarNav {
 justify-content: flex-end;
}

#tittle {
    font-size: 3em;
    color: white;
}

a {
    font-size: 1em;
    color: white;
}

#nav {
    background-color: #395a7f;
}

p {
    color: white;
}