<nav id="nav" class="navbar bg-custom">
    <div id="logo" class="container-fluid">
      <div class="container-fluid" id="logodiv">
        <a class="navbar-brand" href="#">
        <img src="../assets/icons/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        © 2021 Company, Inc
      </a>
    </div>
    <div class="container-fluid" id="icondiv">
        <div class="container-fluid" id="icon">
        <a class="navbar-link" href="#">
            <img src="../assets/icons/casa.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          </a>
        </div>
        <div class="container-fluid" id="icon">
            <a class="navbar-link" href="#">
                <img src="../assets/icons/gota.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              </a>
            </div>
            <div class="container-fluid" id="icon">
                <a class="navbar-link" href="#">
                    <img src="../assets/icons/tren.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                  </a>
                </div>
    </div>
    </div>
   
  </nav>
