#nav {
    padding: 1em;
}

#logo {

    display: flex;
    flex-direction: row;
}

#logodiv {

    width: 50%;
}


#icondiv {
  
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

#icon {
    width: 10%;

    margin: 0px;
}

#separator {
    background-color: black;
    height: 4px;
    width: 95%;
    margin: 2em;
}

